<h3>Tạo danh mục sản phẩm</h3>

<form (ngSubmit)="submit()" [formGroup]="productCategoryform">


  <mat-form-field appearance="outline">
    <mat-label>Tên danh mục</mat-label>
    <input matInput placeholder="Vd: Giày thể thao" formControlName="name">
  </mat-form-field>


  <mat-dialog-actions align="end">
    <button mat-flat-button tabindex="-1" [mat-dialog-close]="true" color="primary" type="submit">
      <mat-icon fxHide.xs>check</mat-icon>
      Đồng ý
    </button>
    <button mat-button mat-dialog-close tabindex="-1" [mat-dialog-close]="false">
      <mat-icon fxHide.xs>close</mat-icon>
      Hủy bỏ
    </button>
  </mat-dialog-actions>
</form>
