<section class="section-content padding-y bg">
  <div class="container">



    <!-- ============================ COMPONENT 2 ================================= -->
    <div class="row">
      <main class="col-md-8">

        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Kiểm tra đơn</h4>
            <div class="row">
              <div class="col-md-6" *ngFor="let item of cart">
                <figure class="itemside  mb-4">
                  <div class="aside"><img [src]="localDomain + '/' + item?.imageFile" class="border img-sm"></div>
                  <figcaption class="info">
                    <p>{{ item?.name }} </p>
                    <span class="text-muted">x {{ item.quantity}} = {{item.price * item.quantity | number }} đ </span>
                  </figcaption>
                </figure>
              </div> <!-- col.// -->

            </div> <!-- row.// -->
          </div> <!-- card-body.// -->
        </article> <!-- card.// -->


        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Thông tin liên hệ</h4>

            <div class="row">
              <div class="form-group col-sm-12">
                <label>Họ và tên</label>
                <input type="text" placeholder="Nhập họ" class="form-control" [(ngModel)]="selectedUser.Name" readonly>
              </div>

              <div class="form-group col-sm-6">
                <label>SĐT</label>
                <input type="text" value="+998" class="form-control" [(ngModel)]="selectedUser.PhoneNumber" readonly>
              </div>
              <div class="form-group col-sm-6">
                <label>Email</label>
                <input type="email" placeholder="example@gmail.com" [(ngModel)]="selectedUser.Email"
                  class="form-control" readonly>
              </div>
            </div> <!-- row.// -->

          </div> <!-- card-body.// -->
        </article> <!-- card.// -->


        <article class="card mb-4">
          <div class="card-body">
            <h4 class="card-title mb-4">Thông tin vận chuyển</h4>
            <form action="">
              <div class="row">
                <div class="form-group col-sm-6">
                  <label class="js-check box">
                    <input type="radio" name="dostavka" value="option1" checked="">
                    <h6 class="title">Vận chuyển</h6>
                    <p class="text-muted">Chúng tôi sẽ vận chuyển nhanh</p>
                  </label> <!-- js-check.// -->
                </div>
                <div class="form-group col-sm-6">
                  <label class="js-check box">
                    <input type="radio" name="dostavka" value="option1">
                    <h6 class="title">Tiêu chuẩn</h6>
                    <p class="text-muted">Giao hàng tiêu chuẩn </p>
                  </label> <!-- js-check.// -->
                </div>
              </div> <!-- row.// -->


              <div class="row">
                <div class="form-group col-sm-6">
                  <label>Thành phố</label>
                  <input type="text" placeholder="Nhập thành phố" class="form-control" [(ngModel)]="selectedOrder.city">
                </div>
                <div class="form-group col-sm-6">
                  <label>Khu vực*</label>
                  <input type="text" placeholder="Type here" class="form-control" [(ngModel)]="selectedOrder.area">
                </div>
                <div class="form-group col-sm-8">
                  <label>Đường*</label>
                  <input type="text" placeholder="Type here" class="form-control" [(ngModel)]="selectedOrder.street">
                </div>
                <div class="form-group col-sm-4">
                  <label>Tòa nhà</label>
                  <input type="text" placeholder="" class="form-control" [(ngModel)]="selectedOrder.building">
                </div>
                <div class="form-group col-sm-4">
                  <label>Số nhà</label>
                  <input type="text" placeholder="Type here" class="form-control" [(ngModel)]="selectedOrder.house">
                </div>
                <div class="form-group col-sm-4">
                  <label>Postal code</label>
                  <input type="text" placeholder="" class="form-control" [(ngModel)]="selectedOrder.postalCode">
                </div>
                <div class="form-group col-sm-4">
                  <label>Zip</label>
                  <input type="text" placeholder="" class="form-control" [(ngModel)]="selectedOrder.zip">
                </div>
              </div> <!-- row.// -->
            </form>
          </div> <!-- card-body.// -->
        </article> <!-- card.// -->


        <article class="accordion" id="accordion_pay">
          <div class="card">
            <header class="card-header">
              <img src="assets/img/misc/payment-paypal.png" class="float-right" height="24">
              <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
                <input class="form-check-input" name="payment-option" checked="" type="radio" value="option2">
                <h6 class="form-check-label">
                  Paypal
                </h6>
              </label>
            </header>
            <div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
              <div class="card-body">
                <p class="text-center text-muted">Kết nối tài khoản PayPal của bạn và sử dụng nó để thanh toán các hóa
                  đơn của bạn. Bạn sẽ
                  được chuyển hướng đến PayPal để thêm thông tin thanh toán của bạn.</p>
                <p class="text-center">
                  <a href="#"><img src="assets/images/misc/btn-paypal.png" height="32"></a>
                  <br><br>
                </p>
              </div> <!-- card body .// -->
            </div> <!-- collapse .// -->
          </div> <!-- card.// -->
          <div class="card">
            <header class="card-header">
              <img src="assets/img/misc/payment-card.png" class="float-right" height="24">
              <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
                <input class="form-check-input" name="payment-option" type="radio" value="option2">
                <h6 class="form-check-label"> Thanh toán </h6>
              </label>
            </header>
            <div id="pay_payme" class="collapse" data-parent="#accordion_pay">
              <div class="card-body">
                <p class="alert alert-success">Hướng dẫn thanh toán</p>
                <form class="form-inline">
                  <input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
                  <input type="text" class="form-control mr-2" style="width: 100px" placeholder="dd/yy" name="">
                  <input type="number" maxlength="3" class="form-control mr-2" style="width: 100px" placeholder="cvc"
                    name="">
                  <button class="btn btn btn-success" (click)="submitPayment()">Xác nhận</button>
                </form>
              </div> <!-- card body .// -->
            </div> <!-- collapse .// -->
          </div> <!-- card.// -->
          <div class="card">
            <header class="card-header">
              <img src="assets/img/misc/payment-bank.png" class="float-right" height="24">
              <label class="form-check" data-toggle="collapse" data-target="#pay_card">
                <input class="form-check-input" name="payment-option" type="radio" value="option1">
                <h6 class="form-check-label"> Chuyển ngân hàng </h6>
              </label>
            </header>
            <div id="pay_card" class="collapse" data-parent="#accordion_pay">
              <div class="card-body">
                <p class="text-muted">Hướng dẫn thanh toán qua ngân hàng</p>
                <p>
                  Số tài khoản: 12345678912346 <br>
                  IBAN: 12345, SWIFT: 987654
                </p>
              </div> <!-- card body .// -->
            </div> <!-- collapse .// -->
          </div> <!-- card.// -->
        </article>
        <!-- accordion end.// -->

      </main> <!-- col.// -->
      <aside class="col-md-4">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="mb-3">Tổng quan</h4>
            <dl class="dlist-align">
              <dt class="text-muted">Kiểu:</dt>
              <dd>Lựa chọn</dd>
            </dl>
            <dl class="dlist-align">
              <dt class="text-muted">Kiểu vận chuyển:</dt>
              <dd>Tiêu chuẩn</dd>
            </dl>
            <dl class="dlist-align">
              <dt class="text-muted">Phương thức thanh toán:</dt>
              <dd>Tiền mặt</dd>
            </dl>
            <hr>
            <dl class="dlist-align">
              <dt>Tổng:</dt>
              <dd class="h5">$300.50</dd>
            </dl>
            <hr>
            <p class="small mb-3 text-muted">Đồng ý với điều khoản dưới đây </p>
            <a href="#" class="btn btn-primary btn-block"> Xác nhận </a>

          </div> <!-- card-body.// -->
        </div> <!-- card.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->

    <!-- ============================ COMPONENT 2 END//  ================================= -->




  </div> <!-- container .//  -->
</section>
