<section class="categories">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="categories__item categories__large__item set-bg"
          data-setbg="assets/img/Running_Essentials_Singlet_Black_FU1408_02_standard.jpg">
          <div class="categories__text">
            <h1>Thể thao nữ</h1>
            <p>Các nhà thiết kế hàng đầu thế giới đã liên tục làm việc để cho ra đời các mẫu sản phẩm thể thao mang đầy
              cá tính.</p>
            <a>Mua ngay</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="assets/img/d281625cd05fe27a6d5571e40d266e3f.jpg">
              <div class="categories__text">
                <h4>Thể thao nam</h4>
                <p>358 items</p>
                <a>Mua ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="assets/img/images.jpg">
              <div class="categories__text">
                <h4>Thời trang trẻ</h4>
                <p>273 items</p>
                <a>Mua ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="assets/img/c1v111.png">
              <div class="categories__text">
                <h4>Vật dụng</h4>
                <p>159 items</p>
                <a>Mua ngay</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 p-0">
            <div class="categories__item set-bg" data-setbg="assets/img/Track_Jacket_White_FT0806.jpg">
              <div class="categories__text">
                <h4>Phụ kiện</h4>
                <p>792 items</p>
                <a>Mua ngay</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="section-title">
          <h4>SẢN PHẨM MỚI</h4>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
      </div>
    </div>
    <div class="row property__gallery">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products">
        <div class="product__item">
          <div class="product__item__pic"
            [style.background-image]="'url(' + localDomain +'/' +  product.imageFile + ')'"
            style="background-size: 255px 360px;">
            <div class="label new">Mới</div>
            <ul class="product__hover">
              <li><a href="{{localDomain +'/' +  product.imageFile}}" class="image-popup"><span
                    class="arrow_expand"></span></a>
              </li>
              <li><a (click)="addFavorite(product)"><span class="icon_heart_alt"></span></a></li>
              <li><a (click)="addProductToCart(product)"><span class="icon_bag_alt"></span></a></li>
            </ul>
          </div>
          <div class="product__item__text">
            <h6><a (click)="showProductDetail(product)">{{ product.name}}</a></h6>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="product__price">{{ product.price | number}} đ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="banner set-bg" data-setbg="assets/img/banner/banner-1.jpg">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-8 m-auto">
        <div class="banner__slider owl-carousel">
          <div class="banner__item">
            <div class="banner__text">
              <span>NIKE</span>
              <h1>Nike Sneaker Solar Red / EU243</h1>
              <a href="#">Mua ngay</a>
            </div>
          </div>
          <div class="banner__item">
            <div class="banner__text">
              <span>ADIDAS</span>
              <h1>Don't Look Back In Anger</h1>
              <a href="#">Mua ngay</a>
            </div>
          </div>
          <div class="banner__item">
            <div class="banner__text">
              <span>PUMA</span>
              <h1>Boycolt Give Puma The Boot</h1>
              <a href="#">Mua ngay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="trend spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="trend__content">
          <div class="section-title">
            <h4>Hot Trend</h4>
          </div>
          <div class="trend__item" *ngFor="let item of hottrends">
            <div class="trend__item__pic">
              <img [src]="localDomain +'/' +  item.imageFile" alt="" width="90px" height="90px">
            </div>
            <div class="trend__item__text">
              <h6>{{item?.name}}</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="product__price">{{ item.price | number}} đ</div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="trend__content">
          <div class="section-title">
            <h4>Mua nhiều</h4>
          </div>
          <div class="trend__item" *ngFor="let item of sales">
            <div class="trend__item__pic">
              <img [src]="localDomain +'/' +  item.imageFile" alt="" width="90px" height="90px">
            </div>
            <div class="trend__item__text">
              <h6>{{item?.name}}</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="product__price">{{ item.price | number}} đ</div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="trend__content">
          <div class="section-title">
            <h4>Sắp ra mắt</h4>
          </div>
          <div class="trend__item">
            <div class="trend__item__pic">
              <img src="assets/img/trend/f-1.jpg" alt="">
            </div>
            <div class="trend__item__text">
              <h6>Bow wrap skirt</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="product__price">$ 59.0</div>
            </div>
          </div>
          <div class="trend__item">
            <div class="trend__item__pic">
              <img src="assets/img/trend/f-2.jpg" alt="">
            </div>
            <div class="trend__item__text">
              <h6>Metallic earrings</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="product__price">$ 59.0</div>
            </div>
          </div>
          <div class="trend__item">
            <div class="trend__item__pic">
              <img src="assets/img/trend/f-3.jpg" alt="">
            </div>
            <div class="trend__item__text">
              <h6>Flap cross-body bag</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="product__price">$ 59.0</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="discount">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 p-0">
        <div class="discount__pic" style="height: 100%;">
          <img src="assets/img/7306a4336dbdfa5c0f12126d03af835d.jpg">
        </div>
      </div>
      <div class="col-lg-6 p-0">
        <div class="discount__text">
          <div class="discount__text__title">
            <span>Khuyến mãi</span>
            <h2>Winter 2021</h2>
            <h5><span>Giảm</span> 50%</h5>
          </div>
          <div class="discount__countdown" id="countdown-time">
            <div class="countdown__item">
              <span>22</span>
              <p>Ngày</p>
            </div>
            <div class="countdown__item">
              <span>18</span>
              <p>Giờ</p>
            </div>
            <div class="countdown__item">
              <span>46</span>
              <p>Phút</p>
            </div>
            <div class="countdown__item">
              <span>05</span>
              <p>Giây</p>
            </div>
          </div>
          <a href="#">Mua ngay</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="services__item">
          <i class="fa fa-car"></i>
          <h6>Miễn phí vận chuyển</h6>
          <p>Cho tất cả đơn trên 500K</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="services__item">
          <i class="fa fa-money"></i>
          <h6>Bảo đảm hoàn tiền</h6>
          <p>Nếu có vấn đề theo chính sách</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="services__item">
          <i class="fa fa-support"></i>
          <h6>Hỗ trợ online 24/7</h6>
          <p>Hỗ trợ nhiệt tình</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="services__item">
          <i class="fa fa-headphones"></i>
          <h6>Thanh toán an toàn</h6>
          <p>Thanh toán an toàn 100%</p>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="instagram">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-1.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-2.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-3.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-4.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-5.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-sm-4 p-0">
        <div class="instagram__item set-bg" data-setbg="assets/img/instagram/insta-6.jpg">
          <div class="instagram__text">
            <i class="fa fa-instagram"></i>
            <a href="#">@ ashion_shop</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
