.cart_count {
  position: relative;
  top: -3px;
  left: 0;
  font-size: 9px;
  background-color: #ff324d;
  border-radius: 50px;
  height: 16px;
  line-height: 16px;
  color: #fff;
  min-width: 16px;
  text-align: center;
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
  margin-left: -5px;
  margin-right: -5px;
}

.btn-primary {
  color: #fff;
  background-color: #0cda90;
  border-color: #0cda90;
}
