<header class="header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-2">
        <div class="header__logo">
          <a href="#"><img src="assets/img/logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <nav class="header__menu">
          <ul>
            <li class="active"><a href="/full">Trang chủ</a></li>
            <li><a routerLink="/grid-product">Cửa hàng</a></li>
            <li><a>Giỏ hàng</a>
              <ul class="dropdown">
                <li><a>Chi tiết sản phẩm</a></li>
                <li><a>Giỏ hàng</a></li>
                <li><a>Thanh toán</a></li>
                <li><a>Chi tiết bài viết</a></li>
              </ul>
            </li>
            <li><a>Bài viết</a></li>
            <li><a>Liên hệ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-3">
        <div class="header__right">
          <div class="header__right__auth">
            <div *ngIf="isLogin">
              <a> {{ selectedUser?.Name}}</a>
              <a (click)="logout()">Đăng xuất</a>
            </div>
            <div *ngIf="!isLogin">
              <a (click)="goToLogin()">Đăng nhập</a>
              <a routerLink="/register">Đăng ký</a>
            </div>

          </div>
          <ul class="header__right__widget">
            <li>
              <span class="icon_search search-switch"></span>
            </li>
            <li>
              <a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">{{ favoriteProducts.length}}</div>
              </a>
            </li>
            <li>
              <a><span class="icon_bag_alt" data-target="#quoteForm" data-toggle="modal"></span>
                <div class="tip">{{cart.length}}</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<!--Mini cart -->

<div class="modal fade" id="quoteForm" tabindex="-1" role="dialog" aria-labelledby="quoteForm" style="display: none;"
  aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content p-md-3">
      <div class="modal-header">
        <h4 class="modal-title">Giỏ</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="pb-5">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                <!-- Shopping cart table -->
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 bg-light">
                          <div class="p-2 px-3 text-uppercase">Sản phẩm</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Giá</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Số lượng</div>
                        </th>
                        <th scope="col" class="border-0 bg-light">
                          <div class="py-2 text-uppercase">Xóa</div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="border-0">
                          <div class="p-2">
                            <img
                              src="https://product.hstatic.net/1000061481/product/cbbcb100dbb544db88594994414d1cec_6bbb67bc38d94f76bfd0996e86f4b864_master.jpg"
                              alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Timex Unisex
                                  Originals</a></h5><span
                                class="text-muted font-weight-normal font-italic d-block">Category: Watches</span>
                            </div>
                          </div>
                        </th>
                        <td class="border-0 align-middle"><strong>$79.00</strong></td>
                        <td class="border-0 align-middle"><strong>3</strong></td>
                        <td class="border-0 align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="p-2">
                            <img
                              src="https://product.hstatic.net/1000061481/product/anh_sp_add_web__mornacida_2_japan-02_87b3d06367c04e73981590353777a32c_master.jpg"
                              alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"><a href="#" class="text-dark d-inline-block">Lumix camera lense</a></h5>
                              <span class="text-muted font-weight-normal font-italic">Category: Electronics</span>
                            </div>
                          </div>
                        </th>
                        <td class="align-middle"><strong>$79.00</strong></td>
                        <td class="align-middle"><strong>3</strong></td>
                        <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="p-2">
                            <img
                              src="https://product.hstatic.net/1000061481/product/anh_sp_add_web_mizuno_rebula-02-02_94606f59117948858a2451770d9e56be_master.jpg"
                              alt="" width="70" class="img-fluid rounded shadow-sm">
                            <div class="ml-3 d-inline-block align-middle">
                              <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block">Gray Nike running shoe</a>
                              </h5><span class="text-muted font-weight-normal font-italic">Category: Fashion</span>
                            </div>
                          </div>
                        </th>
                        <td class="align-middle"><strong>$79.00</strong></td>
                        <td class="align-middle"><strong>3</strong></td>
                        <td class="align-middle"><a href="#" class="text-dark"><i class="fa fa-trash"></i></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End -->
              </div>
            </div>

            <div class="row py-5 p-4 bg-white rounded shadow-sm">
              <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Mã giảm giá</div>
                <div class="p-4">
                  <p class="font-italic mb-4">Nếu bạn có mã giảm giá, làm ơn nhập ô bên dưới</p>
                  <div class="input-group mb-4 border rounded-pill p-2">
                    <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3"
                      class="form-control border-0">
                    <div class="input-group-append border-0">
                      <button id="button-addon3" type="button" class="btn btn-primary px-4 rounded-pill"><i
                          class="fa fa-gift mr-2"></i>Áp dụng</button>
                    </div>
                  </div>
                </div>
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Mô tả cho người bán
                </div>
                <div class="p-4">
                  <p class="font-italic mb-4">Nếu cần bất cứ lưu ý gì xin điền vào ô bên dưới</p>
                  <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Tổng hóa đơn </div>
                <div class="p-4">
                  <p class="font-italic mb-4">Chi phí dựa trên cả phí vận chuyển và tổng chi phí mua hàng</p>
                  <ul class="list-unstyled mb-4">
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Giá đơn
                        hàng </strong><strong>$390.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Phí vận
                        chuyển</strong><strong>$10.00</strong></li>
                    <!-- <li class="d-flex justify-content-between py-3 border-bottom"><strong
                        class="text-muted">Thuế</strong><strong>$0.00</strong></li>
                    <li class="d-flex justify-content-between py-3 border-bottom"><strong
                        class="text-muted">Tổng tiền</strong>
                      <h5 class="font-weight-bold">$400.00</h5>
                    </li> -->
                  </ul><a href="#" class="btn btn-primary rounded-pill py-2 btn-block">Xử lý đơn đặt</a>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
