<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Loại sản phẩm</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
              <div class="card-body">
                <form class="pb-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm...">
                    <div class="input-group-append">
                      <button class="btn btn-light" type="button"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                </form>

                <ul class="list-menu">
                  <li *ngFor="let productCategory of productCategories"><a
                      (click)="productCategorySelection(productCategory)">{{ productCategory.name}} </a></li>

                </ul>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_2" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Thương hiệu </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_2">
              <div class="card-body">
                <label class="custom-control custom-checkbox" *ngFor="let brand of brands">
                  <input type="checkbox" checked="" class="custom-control-input">
                  <div class="custom-control-label"> {{ brand.name }}
                    <b class="badge badge-pill badge-light float-right">{{ brand?.numberOfProducts }}</b>
                  </div>
                </label>
              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Khoảng giá </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_3">
              <div class="card-body">
                <input type="range" class="custom-range" min="0" max="100" name="">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label>Min</label>
                    <input class="form-control" placeholder="$0" type="number">
                  </div>
                  <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <input class="form-control" placeholder="$1,0000" type="number">
                  </div>
                </div> <!-- form-row.// -->
                <button class="btn btn-block btn-primary"> Áp dụng</button>
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Kích thước </h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_4">
              <div class="card-body">
                <label class="checkbox-btn">
                  <input type="checkbox">
                  <span class="btn btn-light"> XS </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox">
                  <span class="btn btn-light"> SM </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox">
                  <span class="btn btn-light"> LG </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox">
                  <span class="btn btn-light"> XXL </span>
                </label>
              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
          <article class="filter-group">
            <header class="card-header">
              <a data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Lọc nhiều hơn</h6>
              </a>
            </header>
            <div class="filter-content collapse in" id="collapse_5">
              <div class="card-body">
                <label class="custom-control custom-radio">
                  <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                  <div class="custom-control-label">Điều kiện bất kì</div>
                </label>

                <label class="custom-control custom-radio">
                  <input type="radio" name="myfilter_radio" class="custom-control-input">
                  <div class="custom-control-label">Thương hiệu mới </div>
                </label>

                <label class="custom-control custom-radio">
                  <input type="radio" name="myfilter_radio" class="custom-control-input">
                  <div class="custom-control-label">Đã sử dụng</div>
                </label>

              </div><!-- card-body.// -->
            </div>
          </article> <!-- filter-group .// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">{{ productTotal | number }} Sản phẩm tìm thấy </span>
            <select class="mr-2 form-control">
              <option>Sản phẩm mới nhất</option>
              <option>Xu hướng</option>
              <option>Phổ biến nhất</option>
              <option>Rẻ nhất</option>
            </select>
            <div class="btn-group">
              <a [class]="(isList)?'btn btn-outline-secondary active':'btn btn-outline-secondary'" data-toggle="tooltip"
                title="List view" (click)="changeView(0)">
                <i class="fa fa-bars"></i></a>
              <a [class]="(!isList)?'btn btn-outline-secondary active':'btn btn-outline-secondary'"
                data-toggle="tooltip" title="Grid view" (click)="changeView(1)">
                <i class="fa fa-th"></i></a>
            </div>
          </div>
        </header><!-- sect-heading -->


        <div *ngIf="isList">
          <article class="card card-product-list" *ngFor="let item of products">
            <div class="row no-gutters">
              <aside class="col-md-3">
                <a class="img-wrap">
                  <span class="badge badge-danger"> NEW </span>
                  <img [src]="localDomain + '/' + item?.imageFile">
                </a>
              </aside> <!-- col.// -->
              <div class="col-md-6">
                <div class="info-main">
                  <a class="h5 title"> Great product name goes here </a>
                  <div class="rating-wrap mb-3">
                    <ul class="rating-stars">
                      <li style="width:80%" class="stars-active">
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                      <li>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </li>
                    </ul>
                    <div class="label-rating">7/10</div>
                  </div> <!-- rating-wrap.// -->

                  <p> Take it as demo specs, ipsum dolor sit amet, consectetuer adipiscing elit, Lorem ipsum dolor sit
                    amet, consectetuer adipiscing elit, Ut wisi enim ad minim veniam </p>
                </div> <!-- info-main.// -->
              </div> <!-- col.// -->
              <aside class="col-sm-3">
                <div class="info-aside">
                  <div class="price-wrap">
                    <span class="price h5"> {{item.price | number }} đ</span>
                    <del class="price-old"> {{item.price | number }} đ</del>
                  </div> <!-- info-price-detail // -->
                  <p class="text-success">Miễn phí vận chuyển</p>
                  <br>
                  <p>
                    <a (click)="showProductDetail(item)" class="btn btn-primary btn-block"> Chi tiết </a>
                    <a (click)="addFavorite(item)" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                      <span class="text">Yêu thích</span>
                    </a>
                  </p>
                </div> <!-- info-aside.// -->
              </aside> <!-- col.// -->
            </div> <!-- row.// -->
          </article> <!-- card-product .// -->
        </div>

        <div *ngIf="!isList">
          <div class="row">
            <div class="col-md-4" *ngFor="let item of products">
              <figure class="card card-product-grid">
                <div class="img-wrap">
                  <span class="badge badge-danger"> NEW </span>
                  <img [src]="localDomain + '/' + item?.imageFile">
                  <a class="btn-overlay" (click)="showProductDetail(item)"><i class="fa fa-search-plus"></i> Xem
                    nhanh</a>
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                  <div class="fix-height">
                    <a class="title">{{item?.name }}</a>
                    <div class="price-wrap mt-2">
                      <span class="price">{{item.price | number }} đ</span>
                      <del class="price-old">{{item.price | number }} đ</del>
                    </div> <!-- price-wrap.// -->
                  </div>
                  <a (click)="addProductToCart(item)" class="btn btn-block btn-primary" style="color: white;">Thêm vào
                    giỏ </a>
                </figcaption>
              </figure>
            </div> <!-- col.// -->

          </div> <!-- row end.// -->

        </div>



        <nav aria-label="Page navigation sample">
          <ul class="pagination">
            <li class="page-item disabled"><a class="page-link">Trước</a></li>
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">Next</a></li>
          </ul>
        </nav>

      </main> <!-- col.// -->

    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
